<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1007922682245-8214g46bfnueic1udi1m3iapmfka5url.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1007922682245-8214g46bfnueic1udi1m3iapmfka5url</string>
	<key>API_KEY</key>
	<string>AIzaSyBH1PhBF24wLJNR7oqB5WCai2PSBSy1Wdg</string>
	<key>GCM_SENDER_ID</key>
	<string>1007922682245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KostarevKirillPavlovich.FavouritePlaces</string>
	<key>PROJECT_ID</key>
	<string>coursework-favourite-places</string>
	<key>STORAGE_BUCKET</key>
	<string>coursework-favourite-places.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007922682245:ios:1de4a2af1ca5fd16aa4cec</string>
	<key>DATABASE_URL</key>
	<string>https://coursework-favourite-places.firebaseio.com</string>
</dict>
</plist>